.App {
  width: 100%;
  margin: 0 auto;
}

.drag-container {
  text-align: center;
}

.head {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #CCCCCC;
  width:100%;
}

.draggable {
  cursor: grabbing;
  width: 100px;
  height: 40px;
  background-color: aliceblue;
  border-radius: 5px;
  margin: 10px auto;
}

.droppable-title {
  position: absolute;
  left: 5px;
  top: 5px;
  color: grey;
  opacity: 0.8;
}

.droppable {
  position: relative;
  height: 60px;
  overflow: auto;
}

.droppable:nth-child(even) {
  background-color: rgb(216, 216, 216);
}

.droppable:nth-child(odd) {
  background-color: rgb(202, 202, 202);
}

.unplanned {
  position: absolute;
  top: 80px;
  left: 100px;
}

.timeline {
  position: absolute;
  top: 80px;
  left: 500px;
  width: 200px;
}