.App {
  width: 100%;
  margin: 0 auto;
}

.drag-container {
  text-align: center;
}

.head {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #CCCCCC;
  width:100%;
}

.draggable {
  cursor: grabbing;
  width: 100px;
  height: 40px;
  background-color: bisque;
}

.droppable:nth-child(even) {
  background-color: rgb(155, 155, 155);
}

.droppable:nth-child(odd) {
  background-color: rgb(173, 173, 173);
}

.droppable {
  height: 60px;
}

.unplanned {
  position: absolute;
  top: 80px;
  left: 100px;
}

.timeline {
  position: absolute;
  top: 80px;
  left: 500px;
  width: 200px;
}

